<style>
  .parent {
      padding-top: 0,5em;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
  }
  .child01 {
      width: auto;
      display: inline-block;
      padding: 1em;
      vertical-align: middle;
      min-width: auto;
      margin-left: auto;
      margin-right: auto;
  }

  .child02 {
      width: auto;
      display: inline-block;
      padding: 1em;
      vertical-align: middle;
      min-width: auto;
      margin-left: auto;
      margin-right: auto;
  }

  #mc_embed_signup {
      border: none;
      text-align: center;
      /* width: 100%; /*
  } /* Signup form container */

  .mc-field-group {
      display: inline-block;
  } /* positions input field horizontally */

  #mce-EMAIL {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1em;
      border: 2px solid #abb0b2;
      color: #343434;
      background-color: #fff;
      padding: 0.5em 10em 0.5em 1em;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      margin: 0;
      margin-bottom: 1em;
  } /* Input Styles */

  .clear {
      display: inline-block;
  } /* positions button horizontally in line with input */

  .button {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1em;
      letter-spacing: 0.03em;
      color: #fff;
      background-color: #0f0f0f;
      padding: 0.8em 1em;
      border: 2px solid #e02832;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      margin: 0;
      transition-duration: 0.4s;
  } /* Button Styles */

  .button:hover {
    background-color: #e02832; /* Green */
    color: white;
  }

  :-webkit-input-placeholder {
      color: #abb0b2;
  } /* WebKit browsers */
  :-moz-placeholder {
      color: #abb0b2;
  } /* Mozilla Firefox 4 to 18 */
  ::-moz-placeholder {
      color: #abb0b2;
  } /* Mozilla Firefox 19+ */
  :-ms-input-placeholder {
      color: #abb0b2;
  } /* Internet Explorer 10+ */

  @media (max-width: 768px) {
      /* positions input field and button underneath each other with 100% width for tablet and mobile */

      .mc-field-group {
          display: block;
          max-width: 100%;
      }
      #mce-EMAIL {
          padding: 0.7em 0 0.7em 1em;
          width: 96%;
          margin: 0;
      }
      .clear {
          display: block;
          width: 100%;
      }
      .button {
          width: 100%;
          margin: 0.5em 0 0 0;
      }
  }
</style>

<hr />

<p align="center" style="padding-top: 0.5em">
  Found this useful? Consider sponsoring me or buying me a cup of coffee at
  <a href="https://ko-fi.com/laufwerk" target="_blank">KoFi</a> or
  <a
    href="https://mailchi.mp/455650ed7d5d/benstein-sign-up-page"
    target="_blank"
    >get notified</a
  >
  when I share new things
</p>

<div class="parent">
  <!-- This is the code you will get from Mailchimp’s NAKED Signup Form -->
  <div class="child01" id="mc_embed_signup">
    <form
      action="https://benstein.us17.list-manage.com/subscribe/post?u=a3f0d207e33e9cf1f035ff204&amp;id=b8cf9a87a9&amp;f_id=005dc2e1f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate
    >
      <div id="mc_embed_signup_scroll">
        <!-- Text Input Field -->
        <div class="mc-field-group">
          <input
            type="email"
            placeholder="Your Email"
            name="EMAIL"
            class="required email"
            id="mce-EMAIL"
          />
        </div>
        <!-- /Text Input Field -->

        <div id="mce-responses" class="clear">
          <div
            class="response"
            id="mce-error-response"
            style="display: none"
          ></div>
          <div
            class="response"
            id="mce-success-response"
            style="display: none"
          ></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

        <div style="position: absolute; left: -5000px">
          <input
            type="text"
            name="b_0b5586be71b0fee16a03f5684_e41ec18eab"
            tabindex="-1"
            value=""
          />
        </div>

        <!-- Submit Button -->
        <div class="clear">
          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button"
          />
        </div>
        <!-- /Submit Button -->
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
  <div class="child02">
    <!-- Setting up the Kofi button -->
    <script
      type="text/javascript"
      src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"
    ></script>
    <script type="text/javascript">
      kofiwidget2.init("Support Me on Ko-fi", "#e02832", "C0C7GY5SE");
      kofiwidget2.draw();
    </script>
  </div>
</div>
